# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.venv/
venv/
.venv/
.DS_Store
**/__MACOSX/
data/raw/*.sas7bdat
data/raw/*.zip
data/processed/*.pkl

__pycache__/
*.pyc
artifacts/
