# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.venv/
venv/
.venv/
.DS_Store
**/__MACOSX/
med_proj/data/*.sas7bdat
med_proj/data/*.zip
__pycache__/
*.pyc
artifacts/
